<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="icon" href="/public/store/images/logo-main.png">
    <link rel="stylesheet" href="/private/store-user/css/style-delete.css">
</head>

<body>
    <div id="bloque-1">
        <h2>Delete User</h2>
    </div>
    <div class="bloque">
        <form action="/user/delete" method="POST">
            <input type="text" name="delete-user" id="delete-user" placeholder="CONFIRMED" required>
            <input type="submit" value="Continue">
        </form>
    </div>
    <div class="bloque">
        {{if .message}}
        <h3>{{ .message }}</h3>
        {{end}}
    </div>
</body>

</html>