<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="icon" href="/public/store/images/logo-main.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/private/store-user/css/style-events.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img src="/public/store/images/logo-main.png" alt="" width="50px" class="logo">
                <a class="navbar-brand" href="/user/uindex">Shadow Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user/uindex">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user/ustore">Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user/unews">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/user/uabout">About us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <button class="button-user" onclick="redirectToProfile()">Profile</button>
                    <button class="button-user" onclick="redirectToLogout()">Log out</button>
                </div>
            </div>
        </nav>
    </header>
    <main id="contenido">
        <div>
            <aside id="news-aside">
                <h5>Centro de noticias</h5>
                <ul id="list-news">
                    <li><a href="/user/unews">Noticias</a></li>
                    <li><a href="/user/uevents">Eventos</a></li>
                </ul>
            </aside>
        </div>
        <div id="content">
            <table class="main-news">
                <tr>
                    <td>
                        <div class="card" style="width: 20rem;">
                            <img src="/private/store-user/images/events/valorant.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">VCT 2024:Masters Madrid</h5>
                                <p class="card-text">Marzo 14-24 2024 <br> Se celebrará en España-Madrid</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 20rem;">
                            <img src="/private/store-user/images/events/lol.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mid-Season Invitational 2024
                                </h5>
                                <p class="card-text">Mayo 1-19 2024 <br> Se celebrará en China-Chengdu
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="secondary-news">
                <tr>
                    <div class="card mb-3" style="max-width: 800px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/private/store-user/images/events/csgo.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">PGL Major Copenhagen 2024</h5>
                                    <p class="card-text">Marzo 17-31 2024 <br> Se celebrará en Dinamarca-Copenhagen</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="card mb-3" style="max-width: 800px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/private/store-user/images/events/mblg.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">MLBB Mid Season Cup 2024</h5>
                                    <p class="card-text">Julio 1-14 2024 <br> Se celebrará en Saudi Arabia-Riyadh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="card mb-3" style="max-width: 800px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/private/store-user/images/events/pubg.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">PUBG Mobile Global Championship 2024</h5>
                                    <p class="card-text">Noviembre 1 - Diciembre 1 2024 <br> Se celebrará en United
                                        Kingdom
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                <tr>
                    <div class="card mb-3" style="max-width: 800px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/private/store-user/images/events/dota.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">ESL One Birmingham 2024</h5>
                                    <p class="card-text">Abril 22-28 2024 <br> Se celebrará en United Kingdom-Birmingham
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
            <script>
                function redirectToProfile() {
                    window.location.href = "/user/profile"
                }
    
                function redirectToLogout() {
                    window.location.href = "/user/logout"
                }
            </script>
    </main>
    <footer>
        <p>&copy; 2024 Shadow Corp. Todos los derechos reservados.</p>
        <!--
            Do you know who did?
        -->
    </footer>
</body>

</html>