<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>News</title>
  <link rel="icon" href="/public/store/images/logo-main.png"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/private/store-user/css/style-news.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <img src="/public/store/images/logo-main.png" alt="" width="50px" class="logo">
        <a class="navbar-brand" href="/user/uindex">Shadow Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/uindex">Store</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/ustore">Games</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/unews">News</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/uabout">About us</a>
              </li>
          </ul>
      </div>
        <div>
          <button class="button-user" onclick="redirectToProfile()">Profile</button>
          <button class="button-user" onclick="redirectToLogout()">Log out</button>
      </div>
      </div>
    </nav>
  </header>
  <main id="contenido">
    <div>
      <aside id="news-aside">
        <h5>News center</h5>
        <ul id="list-news">
          <li><a href="/user/unews">News</a></li>
          <li><a href="/user/uevents">Events</a></li>
        </ul>
      </aside>
    </div>
    <div id="content">
      <table class="main-news">
        <tr>
          <td>
            <!--https://vandal.elespanol.com/noticia/1350769493/sonic-superstars-vendio-menos-de-lo-que-esperaba-sega-que-senala-a-super-mario-wonder/-->
            <div class="card" style="width: 20rem">
              <img src="/private/store-user/images/news/sonic.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">
                  Sonic Superstars sold less than SEGA expected, which points to Super Mario Wonder
                </h5>
                <p class="card-text">
                  The directors of the Japanese company argue that sales of the latest blue hedgehog game were affected by the release a few days later of another game of the 'same genre'.
                </p>
                <button onclick="document.getElementById('sonic').style.display='block'">
                  See more
                </button>
              </div>
            </div>
          </td>
          <div id="sonic" class="popup">
            <span class="close" onclick="document.getElementById('sonic').style.display='none'">&times;</span>
            <div class="card mb-3" style="max-width: 800px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/private/store-user/images/news/sonic.png" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      Sonic Superstars sold less than SEGA expected, which points to Super Mario Wonder
                    </h5>
                    <p class="card-text">
                      At the end of last year, we had two releases in the same genre of two "iconic mascots" of the brand: 'Mario' and 'Sonic'. Both released new platform games in the month of October 2023, just three days apart. However, SEGA points out that its sales were not as expected and assures that this is due to the fact that its launch coincided with that of a competing title.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <td>
            <!--https://www.levelup.com/noticias/777072/Dragon-Ball-Sparking-ZERO-tendria-una-caracteristica-nunca-antes-vista-en-Budokai-Tenkaichi-->
            <div class="card" style="width: 20rem">
              <img src="/private/store-user/images/news/dragonball.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">
                  Dragon Ball: Sparking! ZERO would have a feature never seen before in Budokai Tenkaichi
                </h5>
                <p class="card-text">
                  The Budokai Tenkaichi saga will return with Dragon Ball: Sparking! ZERO. The next fighting title inspired by the work of Akira Toriyama will have a total of 164 characters.
                </p>
                <button onclick="document.getElementById('dragonball').style.display='block'">
                  See more
                </button>
              </div>
            </div>
          </td>
          <div id="dragonball" class="popup">
            <span class="close" onclick="document.getElementById('dragonball').style.display='none'">&times;</span>
            <div class="card mb-3" style="max-width: 800px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/private/store-user/images/news/dragonball.png" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      Dragon Ball: Sparking! ZERO would have a feature never seen before in Budokai Tenkaichi
                    </h5>
                    <p class="card-text">
                      After 17 years, the Budokai Tenkaichi saga will return with Dragon Ball: Sparking! ZERO, the new installment that aims to exceed fans' expectations. According to the latest developments, the next fighting title inspired by the work of Akira Toriyama will have a total of 164 playable characters, which includes transformations and variations. In that case, we are looking at the largest roster in the history of the series. Goku and Vegeta will make up a large part of the squad, but we already know that Krillin, Gohan, Trunks, Cell, Frieza, Jiren, Yamcha and more fighters will also join the frays. Now, more details suggest that these characters will be divided into archetypes.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </table>
      <table class="secondary-news">
        <tr>
          <!--https://www.levelup.com/noticias/777030/Este-Xbox-es-tan-raro-que-se-vendio-por-10000-USD-a-pesar-de-estar-descompuesto-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/xbox.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    This Xbox is so rare that it sold for $10,000 USD despite being broken
                  </h5>
                  <p class="card-text">
                    There are special edition consoles that are very rare since they had limited distribution and, in addition, very few units were produced. One of them is an original Xbox that just sold for $10,000 USD despite being broken.
                  </p>
                  <button onclick="document.getElementById('xbox').style.display='block'">See more</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="xbox" class="popup">
          <span class="close" onclick="document.getElementById('xbox').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/xbox.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">This Xbox is so rare that it sold for $10,000 USD despite being broken</h5>
                  <p class="card-text">There are special edition consoles that are very rare since they had limited distribution and, in addition, very few units were produced. One of them is an original Xbox that just sold for $10,000 USD despite being broken. This is a special Hello Kitty edition Xbox, which was only sold in one country in Asia. What makes it really rare is that only 550 units were manufactured, so it is one of the most coveted systems by lovers of the brand.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <tr>
          <!--https://www.levelup.com/noticias/777015/TEKKEN-8-Suicide-Squad-y-Persona-3-Reload-la-rompen-en-Estados-Unidos-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/tekken.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    TEKKEN 8, Suicide Squad and Persona 3: Reload break it in the United States
                  </h5>
                  <p class="card-text">
                    The report of the best-selling games during January 2024 in the United States was published by the analysis firm Circana through its analyst Mat Piscatella.
                  </p>
                  <button onclick="document.getElementById('tekken').style.display='block'">See more</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="tekken" class="popup">
          <span class="close" onclick="document.getElementById('tekken').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/tekken.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TEKKEN 8, Suicide Squad and Persona 3: Reload break it in the United States</h5>
                  <p class="card-text">The report of the best-selling games during January 2024 in the United States was published by the analysis firm Circana through its analyst Mat Piscatella. Nothing new in the first place that went to Call of Duty: Modern Warfare III, repeating the first place for the second month despite the controversy that surrounded its launch. However, the note goes to TEKKEN 8, the new installment of the legendary fighting game franchise that had a very good launch that resulted in second place, a success for Bandai Namco and Katsuhiro Harada, responsible for the IP. In third place was Suicide Squad: Kill the Justice League, a position that is more related to the name of the IP than to its proposal as a video game since it has been a disaster since its launch and the community did not see it well received.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <tr>
          <!--https://www.levelup.com/noticias/776979/Rainbow-Six-Siege-tendra-secuela-Ubisoft-responde-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/rainbow.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Will Rainbow Six Siege have a sequel? Ubisoft responds
                  </h5>
                  <p class="card-text">
                    In the video game industry, it is very common for companies to release sequels to their most successful projects to boost sales and attract new players.
                  </p>
                  <button onclick="document.getElementById('rainbow-siege').style.display='block'">See more</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="rainbow-siege" class="popup">
          <span class="close" onclick="document.getElementById('rainbow-siege').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/rainbow.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Will Rainbow Six Siege have a sequel? Ubisoft responds</h5>
                  <p class="card-text">In 2021, Ubisoft confirmed that there are no plans to make a new title of the IP and indicated that a sequel is unnecessary. “The Siege of the future will be dramatically different from the Siege of today, to the point that we could call it Siege 2,” Leroy Athanassof commented at the time. A couple of years have passed and the market has changed a lot. With this in mind, is the development team continuing with its original plans or are you already thinking about a hypothetical sequel? The answer is still the same.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <tr>
          <!--https://vandal.elespanol.com/noticia/1350769487/la-edicion-fisica-japonesa-de-final-fantasy-7-rebirth-tiene-un-error-en-sus-discos/-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/finalfantasy.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    The Japanese physical edition of Final Fantasy 7 Rebirth has an error on its discs
                  </h5>
                  <p class="card-text">
                    Square Enix warns those who have purchased the boxed version of the PS5 title in Japan, which comes on two Blu-rays, of an error that misidentifies the installation disc and the game disc.
                  </p>
                  <button onclick="document.getElementById('final-fantasy').style.display='block'">See more</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="final-fantasy" class="popup">
          <span class="close" onclick="document.getElementById('final-fantasy').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/finalfantasy.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">The Japanese physical edition of Final Fantasy 7 Rebirth has an error on its discs</h5>
                  <p class="card-text">A few hours after Final Fantasy VII Rebirth was released in Japan, the error found in its physical copies and that has bothered players was revealed. The thing is that the silkscreen printing on the discs is wrong. In case you don't know, the new installment of the remake project includes 2 Blu-rays, one for installation and one for playing, so the first step when taking the game out of the box is to put the installation disc in the PS5, wait for the process to finish and then insert the game disc to start the experience.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>
      <script>
        function redirectToProfile() {
            window.location.href = "/user/profile"
        }

        function redirectToLogout() {
            window.location.href = "/user/logout"
        }
    </script>
  </main>
  <footer>
    <p>&copy; 2024 Shadow Corp. All rights reserved.</p>
    <!--
        Do you know who did?
    -->
  </footer>
</body>

</html>