<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Noticias</title>
  <link rel="icon" href="/public/store/images/logo-main.png"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/private/store-user/css/style-news.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <img src="/public/store/images/logo-main.png" alt="" width="50px" class="logo">
        <a class="navbar-brand" href="/user/uindex">Shadow Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/uindex">Store</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/ustore">Games</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/unews">News</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user/uabout">About us</a>
              </li>
          </ul>
      </div>
        <div>
          <button class="button-user" onclick="redirectToProfile()">Profile</button>
          <button class="button-user" onclick="redirectToLogout()">Log out</button>
      </div>
      </div>
    </nav>
  </header>
  <main id="contenido">
    <div>
      <aside id="news-aside">
        <h5>Centro de noticias</h5>
        <ul id="list-news">
          <li><a href="/user/unews">Noticias</a></li>
          <li><a href="/user/uevents">Eventos</a></li>
        </ul>
      </aside>
    </div>
    <div id="content">
      <table class="main-news">
        <tr>
          <td>
            <!--https://vandal.elespanol.com/noticia/1350769493/sonic-superstars-vendio-menos-de-lo-que-esperaba-sega-que-senala-a-super-mario-wonder/-->
            <div class="card" style="width: 20rem">
              <img src="/private/store-user/images/news/sonic.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">
                  Sonic Superstars vendió menos de lo que esperaba SEGA, que
                  señala a Super Mario Wonder
                </h5>
                <p class="card-text">
                  Los directivos de la compañía japonesa argumentan que las
                  ventas del último juego del erizo azul se vieron afectadas
                  por el estreno pocos días después de otro juego del 'mismo
                  género'.
                </p>
                <button onclick="document.getElementById('sonic').style.display='block'">
                  Ver más
                </button>
              </div>
            </div>
          </td>
          <div id="sonic" class="popup">
            <span class="close" onclick="document.getElementById('sonic').style.display='none'">&times;</span>
            <div class="card mb-3" style="max-width: 800px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/private/store-user/images/news/sonic.png" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      Sonic Superstars vendió menos de lo que esperaba SEGA,
                      que señala a Super Mario Wonder
                    </h5>
                    <p class="card-text">
                      A finales del año pasado, tuvimos dos lanzamientos en el
                      mismo género de dos "mascotas icónicas" de la marca:
                      'Mario' y 'Sonic'. Ambos sacaron nuevos juegos de
                      plataformas en el mes de octubre de 2023, con apenas
                      tres días de diferencia entre ellos. Sin embargo, SEGA
                      señala que sus ventas no fueron las esperadas y asegura
                      que esto se debe a que su lanzamiento coincidió con el
                      de un título de la competencia.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <td>
            <!--https://www.levelup.com/noticias/777072/Dragon-Ball-Sparking-ZERO-tendria-una-caracteristica-nunca-antes-vista-en-Budokai-Tenkaichi-->
            <div class="card" style="width: 20rem">
              <img src="/private/store-user/images/news/dragonball.png" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">
                  Dragon Ball: Sparking! ZERO tendría una característica nunca
                  antes vista en Budokai Tenkaichi
                </h5>
                <p class="card-text">
                  La saga Budokai Tenkaichi regresará con Dragon Ball:
                  Sparking! ZERO. El próximo título de lucha inspirado en la
                  obra de Akira Toriyama tendrá un total de 164 personajes.
                </p>
                <button onclick="document.getElementById('dragonball').style.display='block'">
                  Ver más
                </button>
              </div>
            </div>
          </td>
          <div id="dragonball" class="popup">
            <span class="close" onclick="document.getElementById('dragonball').style.display='none'">&times;</span>
            <div class="card mb-3" style="max-width: 800px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="/private/store-user/images/news/dragonball.png" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      Dragon Ball: Sparking! ZERO tendría una característica
                      nunca antes vista en Budokai Tenkaichi
                    </h5>
                    <p class="card-text">
                      Después de 17 años, la saga Budokai Tenkaichi regresará
                      con Dragon Ball: Sparking! ZERO, la nueva entrega que
                      pretende superar las expectativas de los fans. De
                      acuerdo con los últimos avances, el próximo título de
                      lucha inspirado en la obra de Akira Toriyama tendrá un
                      total de 164 personajes jugables, lo que incluye las
                      transformaciones y variaciones. En ese caso, estamos
                      frente al roster más grande en la historia de la serie.
                      Goku y Vegeta conformarán gran parte de la plantilla,
                      pero ya sabemos que Krillin, Gohan, Trunks, Cell,
                      Freezer, Jiren, Yamcha y más luchadores también se
                      unirán a las refriegas. Ahora, más detalles sugieren que
                      estos personajes se dividirán en arquetipos.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </table>
      <table class="secondary-news">
        <tr>
          <!--https://www.levelup.com/noticias/777030/Este-Xbox-es-tan-raro-que-se-vendio-por-10000-USD-a-pesar-de-estar-descompuesto-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/xbox.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    Este Xbox es tan raro que se vendió por $10,000 USD a
                    pesar de estar descompuesto
                  </h5>
                  <p class="card-text">
                    Hay consolas edición especial que son muy raras ya que
                    tuvieron una distribución limitada y, además, se
                    produjeron muy pocas unidades. Una de ellas es un Xbox
                    original que se acaba de vender por $10,000 USD a pesar de
                    estar descompuesto.
                  </p>
                  <button onclick="document.getElementById('xbox').style.display='block'">Ver más</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="xbox" class="popup">
          <span class="close" onclick="document.getElementById('xbox').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/xbox.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Este Xbox es tan raro que se vendió por $10,000 USD a
                    pesar de estar descompuesto</h5>
                  <p class="card-text">Hay consolas edición especial que son muy raras ya que tuvieron una distribución
                    limitada y, además, se produjeron muy pocas unidades. Una de ellas es un Xbox original que se acaba
                    de vender por $10,000 USD a pesar de estar descompuesto.
                    Se trata de un Xbox edición especial de Hello Kitty, que únicamente se vendió en un país de Asia. Lo
                    que la hace realmente rara es que sólo se fabricaron 550 unidades, así que es uno de los sistemas
                    más codiciados por los amantes de la marca.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <tr>
          <!--https://www.levelup.com/noticias/777015/TEKKEN-8-Suicide-Squad-y-Persona-3-Reload-la-rompen-en-Estados-Unidos-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/tekken.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    TEKKEN 8, Suicide Squad y Persona 3: Reload la rompen en
                    Estados Unidos
                  </h5>
                  <p class="card-text">
                    El reporte de los juegos más vendidos durante enero de
                    2024 en Estados Unidos fue publicado por la firma de
                    análisis Circana a través de su analista Mat Piscatella.
                  </p>
                  <button onclick="document.getElementById('tekken').style.display='block'">Ver más</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="tekken" class="popup">
          <span class="close" onclick="document.getElementById('tekken').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/tekken.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">TEKKEN 8, Suicide Squad y Persona 3: Reload la rompen en
                    Estados Unidos</h5>
                  <p class="card-text">El reporte de los juegos más vendidos durante enero de 2024 en Estados Unidos fue
                    publicado por la firma de análisis Circana a través de su analista Mat Piscatella. Nada nuevo en el
                    primer lugar que fue para Call of Duty: Modern Warfare III repitiendo el primer puesto por segundo
                    mes pese a la polémica que rodeó su lanzamiento. Sin embargo, la nota la da TEKKEN 8, la nueva
                    entrega de la legendaria franquicia de juegos de pelea que tuvo un lanzamiento muy bueno que resultó
                    en el segundo lugar, un éxito para Bandai Namco y para Katsuhiro Harada, responsable de la IP.
                    En tercer lugar se ubicó Suicide Squad: Kill the Justice League, posición que está más relacionado
                    con el nombre de la IP que con su propuesta como videojuego pues ha sido un desastre desde su
                    lanzamiento y la comunidad no le vio una buena bienvenida.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <tr>
          <!--https://www.levelup.com/noticias/776979/Rainbow-Six-Siege-tendra-secuela-Ubisoft-responde-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/rainbow.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    ¿Rainbow Six Siege tendrá secuela? Ubisoft responde
                  </h5>
                  <p class="card-text">
                    En la industria de los videojuegos, es muy común que las
                    compañías lancen secuelas de sus proyectos más exitosos
                    para impulsar las ventas y atraer nuevos jugadores.
                  </p>
                  <button onclick="document.getElementById('rainbow-siege').style.display='block'">Ver más</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="rainbow-siege" class="popup">
          <span class="close" onclick="document.getElementById('rainbow-siege').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/rainbow.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">¿Rainbow Six Siege tendrá secuela? Ubisoft responde</h5>
                  <p class="card-text">En 2021, Ubisoft confirmó que no hay planes para realizar un nuevo título de la
                    IP e indicó que una secuela es innecesaria. “El Siege del futuro será dramáticamente diferente del
                    Siege de hoy, hasta el punto que podríamos llamarlo Siege 2”, comentó Leroy Athanassof en aquel
                    entonces.
                    Ya pasaron un par de años y el mercado cambió mucho. Con esto en mente, ¿el equipo de desarrollo
                    sigue con sus planes originales o ya piensa en una hipotética secuela? La respuesta aún es la misma.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <tr>
          <!--https://vandal.elespanol.com/noticia/1350769487/la-edicion-fisica-japonesa-de-final-fantasy-7-rebirth-tiene-un-error-en-sus-discos/-->
          <div class="card mb-3" style="max-width: 800px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/finalfantasy.png" class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    La edición física japonesa de Final Fantasy 7 Rebirth
                    tiene un error en sus discos
                  </h5>
                  <p class="card-text">
                    Square Enix avisa a quienes hayan comprado en Japón la
                    versión en caja del título de PS5, que viene en dos
                    Blu-ray, de un error que identifica erróneamente el disco
                    de instalación y el de juego.
                  </p>
                  <button onclick="document.getElementById('final-fantasy').style.display='block'">Ver más</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <div id="final-fantasy" class="popup">
          <span class="close" onclick="document.getElementById('final-fantasy').style.display='none'">&times;</span>
          <div class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/private/store-user/images/news/finalfantasy.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">La edición física japonesa de Final Fantasy 7 Rebirth
                    tiene un error en sus discos</h5>
                  <p class="card-text">A unas horas de que se estrenara Final Fantasy VII Rebirth en Japón, trascendió
                    el error que se encuentra en sus copias físicas y que tiene molestos a los jugadores. Lo que pasa es
                    que la impresión de serigrafía en los discos es errónea. Por si no lo sabes, la nueva entrega del
                    proyecto remake incluye 2 Blu-ray, uno para instalación y otro para jugar, de manera que el primer
                    paso al sacar el juego de la caja es meter el disco de instalación en el PS5, esperar a que termine
                    el proceso y después meter el disco de juego para iniciar con la experiencia.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>
      <script>
        function redirectToProfile() {
            window.location.href = "/user/profile"
        }

        function redirectToLogout() {
            window.location.href = "/user/logout"
        }
    </script>
  </main>
  <footer>
    <p>&copy; 2024 Shadow Corp. Todos los derechos reservados.</p>
    <!--
        Do you know who did?
    -->
  </footer>
</body>

</html>