<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="icon" href="/public/store/images/logo-main.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/private/store-user/css/style-store.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <img src="/public/store/images/logo-main.png" alt="logo-main" width="50px" class="logo">
                <a class="navbar-brand" href="/user/uindex">Shadow Store</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/uindex">Store</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/user/ustore">Games</a></li>
                    </ul>
                </div>
                <div>
                    <button class="button-user" onclick="redirectToProfile()">Profile</button>
                    <button class="button-user" onclick="redirectToLogout()">Log out</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <form id="searchForm" onsubmit="solve(); return false;">
            <input type="text" id="gameCode" placeholder="Search game" required>
            <button type="submit">Search</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Best sellers</th>
                    <th>Most played</th>
                    <th>Soon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="card" style="width: 17rem;"><img src="/public/store/images/store/GameBones1.jpg" class="card-img-top" alt="Skull and Bones">
                            <div class="card-body"><h5 class="card-title">Skull and Bones</h5><p class="card-text">59.99 USDT</p></div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 17rem;"><img src="/public/store/images/store/GamesFortnite2.jpg" class="card-img-top" alt="Fortnite">
                            <div class="card-body"><h5 class="card-title">Fortnite</h5><p class="card-text">Free</p></div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 17rem;"><img src="/public/store/images/store/GamesBlack3.png" class="card-img-top" alt="Black Myth: Wukong">
                            <div class="card-body"><h5 class="card-title">Black Myth: Wukong</h5><p class="card-text">Available 08/20/24</p></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="width: 17rem;"><img src="/public/store/images/store/GamesNight4.jpg" class="card-img-top" alt="Nightingale">
                            <div class="card-body"><h5 class="card-title">Nightingale</h5><p class="card-text">13.49 USDT</p></div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 17rem;"><img src="/public/store/images/store/GamesRocket5.jpg" class="card-img-top" alt="Rocket League">
                            <div class="card-body"><h5 class="card-title">Rocket League</h5><p class="card-text">Free</p></div>
                        </div>
                    </td>
                    <td>
                        <div class="card" style="width: 17rem;"><img src="/public/store/images/store/GamesWolf6.jpg" class="card-img-top" alt="The Wolf Among Us 2">
                            <div class="card-body"><h5 class="card-title">The Wolf Among Us 2</h5><p class="card-text">Soon</p></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            function solve() {
                const games = { "sk": "Skull and bones", "fo": "Fortnite", "bl": "Black Myth: Wukong", "ni": "Nightingale", "ro": "Rocket League", "th": "The Wolf Among Us 2"};
                const x = document.getElementById('gameCode').value.toLowerCase();
                let res = "";
                const a = x[0];
                const b = x[1];
                res += a + b;
                for (let [key, value] of Object.entries(games)) {
                    if (res == key) {
                        alert("Maybe you wanted to say " + value + ". This game is available");
                        return;
                    }
                }
                alert("The game does not exist in the store");
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
        <script>
            function redirectToProfile() { window.location.href = "/user/profile" }
            function redirectToLogout() { window.location.href = "/user/logout" }
        </script>
    </main>
    <footer>
        <p>&copy; 2024 Shadow Corp. All rights reserved.</p>
    </footer>
</body>
</html>