<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="icon" href="/public/store/images/logo-main.png">
    <link rel="stylesheet" href="/public/connection-user/css/style-acc-user.css">
</head>

<body>
    <div class="bloque">
        <h1>Account activated succesfully</h1>
        <h2>Please login</h2>
        <button onclick="redirectToLogin()">Login</button>
    </div>

    <script>
        function redirectToLogin() {
            window.location.href = "/login"
        }
    </script>
</body>

</html>