<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery</title>
    <link rel="icon" href="/public/store/images/logo-main.png">
    <link rel="stylesheet" href="/public/connection-user/css/style-recovery.css">
</head>

<body>
    <div id="bloque-1">
        <h2>Recovery Password</h2>
    </div>
    <div class="bloque">
        <form action="/passwordrecovery" method="POST">
            <input type="text" name="user-email" id="user-email" placeholder="Email">
            <input type="submit" value="Continue">
        </form>
    </div>
    <div class="bloque">
        {{if .message}}
        <h3>{{ .message }}</h3>
        {{end}}
    </div>
</body>

</html>