<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>    
    <form action="/register" method="POST">
        <input type="text" name="user-shadow" id="user-shadow" placeholder="Username" required>
        <input type="text" name="email-shadow" id="email-shadow" placeholder="Email" required>
        <input type="password" name="password-a-shadow" id="password-a-shadow" placeholder="Password" required>
        <input type="password" name="password-b-shadow" id="password-b-shadow" placeholder="Re-enter password" required> 
        <input type="submit" value="Continue">
    </form>

    {{if .message}}
        <h1>{{.message}}</h1>
    {{end}}
</body>
</html>