body {
    font-size: 1.1rem;
    background-color: #73a7a7;
    color: #fff;
    font-family: Verdana, sans-serif;
}

header{
    background-color: #03363d;
}

.navbar-brand:hover{
    color: #2f6e6e;
}

img.logo {
    margin-left: 80px;
    margin-right: 40px; 
}

.navbar-brand {
    margin-right: 100px;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-left: 30px;
}

.navbar-nav .nav-link:hover {
    color: #2f6e6e !important;
}

.parts-start{
    background-color: #2f6e6e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    font-size: 1.3rem;
    border-radius: 5px;
}

p{
    font-size: 1.2rem;
}

.part{
    margin-right: 100px;
}

#parts-middle{
    background-color: #2f6e6e;
    text-align: center;
    margin: 50px;
    padding: 30px;
    border-radius: 5px;
}

#car{
    background-color: #2f6e6e;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 5px;
}

.car-part {
    padding: 10px;
    text-align: center;
}

button {
    background-color: #174d4d; 
    border: none; 
    color: white; 
    padding: 5px; 
    border-radius: 8px; 
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #174d4d;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    z-index: 1;
}

.close {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
}

form {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #03363d;
    padding: 20px;
}