body {
    font-size: 1.1rem;
    background-color: #73a7a7;
    color: #fff;
    font-family: Verdana, sans-serif;
}

header {
    background-color: #03363d;
}

img.logo {
    margin-left: 80px;
    margin-right: 40px;
}

.navbar-brand {
    margin-right: 100px;
    color: #fff;
}

.navbar-brand:hover {
    color: #2f6e6e;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-left: 30px;
}

.navbar-nav .nav-link:hover {
    color: #2f6e6e !important;
}

.button-user {
    background-color: #174d4d;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 8px;
}

.button-user:hover {
    background-color: #2f6e6e;
}

.bloque {
    text-align: center;
    margin-top: 30px;
    background-color: #174d4d;
    padding: 20px;
    color: #ffffff;
}

.img-bloque {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #03363d;
    margin-top: 20px;
    padding: 20px;
}